.logo {
    float: left;
    width: 103px !important;
    height: 58px !important;
    padding: 0 15px;
    border: 0 solid #fff !important;
    margin-top: 11px !important;
    background-image: url('../images/PAC_Badge_white.png');
}

.isStuck .logo {
    margin-top: 11px !important;
    margin-left: 0;
    border-color: #000 !important;
    background-image: url('../images/PAC_Badge_black.png');
}

ul.footerLinks li span a {
    color: #ED1944;
}

.socialshare a:hover {
    background: #ED1944;
}

.gototop {
    background: #ED1944;
}

input.button{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:45px;
	font-weight:700;
	text-align:center;
	color:#ED1944;
	text-transform:uppercase;
	padding:0 25px;
	width:auto;
	min-width:214px;
	height:47px;
	background:none;
	border:none;
	border:2px solid #ED1944;
}
input.button:hover {
	text-decoration:none;
	color:#fff;
	background-color:#ED1944;
}


figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(237,25,68,0.9) 0%, rgba(237,25,68,0.9) 90%);
	background: linear-gradient(to bottom, rgba(237,25,68,0.9) 0%, rgba(237,25,68,0.9) 90%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,90%,0);
	transform: translate3d(0,90%,0);
}


.portfolioFilter ul li a.current {
    border: solid 2px #ED1944 !important;
    color: #444444;
}

.portfolioFilter ul li a:hover{
	border-color:#ED1944 !important;
	color:#444444;
}

.portfolioFilter ul li a.current{
	border:solid 2px #ED1944;
	color:#444444;
}

#ui-lightbox-bottombar {
    background: #ED1944 !important;
}

#contactForm {
    text-align: center !important;
}

.welcome_listing span {
    color: #ED1944 !important;
    border: 1px solid #ED1944 !important;
}

.navbar.navbar-inverse.navbar-static-top a:hover {
    background-color: black!important;
    color: #fff;
}

.ourservice-col:hover span.ico i {
    color: #2A285E !important;
}

#servicesHeader {
    color: #FFF !important;
}

.heading:after {
    background-color: #FFF !important;
}

.isStuck {
    background: #FFF !important;
}

.orange_section {
    background-color: #ED1944 !important; 
}

.black_section{ 
    background-color: #2A285E !important; 
}

/* 2A285E */

.patternOverlay {
    background: none !important;
}

/*#mainLogo .element-style {
    backface-visibility: hidden;
    position: relative !important;
    left:auto !important;
    top: 0px;
    z-index: -1;
    max-width:none !important;;
    width: 600px !important;
    height: auto !important;
}*/

#mainLogo {
    display: block !important;
    margin: 0 auto !important;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #FFF;
    color: #FFF;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #ED1944;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FAFAFA;
    color: #FAFAFA;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    color: #FFF;
}


/* Extra Small Devices, Phones */ 

.bannerText {
    width: 100%;
    left: 0;
}

@media only screen and (min-width : 320px) {
    #mainLogo {
        max-width: 280px !important;
        width: auto !important;
        height: auto !important;
        position: relative !important;
        z-index: auto !important;
        left: auto !important;
        top: auto !important;
        text-align: center !important;
    }

    .middle-padding {
        height: 150px;
    }
}

@media only screen and (min-width : 480px) {
    #mainLogo {
        max-width: 350px !important;
        width: auto !important;
        height: auto !important;
        position: relative !important;
        z-index: auto !important;
        left: auto !important;
        top: auto !important;
        text-align: center !important;
    }

    .middle-padding {
        height: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #mainLogo {
        max-width: 600px !important;
        width: auto !important;
        height: auto !important;
        position: relative !important;
        z-index: auto !important;
        left: auto !important;
        top: auto !important;
    }

    .middle-padding {
        height: 100px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #mainLogo {
        max-width: 600px !important;
        width: auto !important;
        height: auto !important;
        position: relative !important;
        z-index: auto !important;
        left: auto !important;
        top: auto !important;
    }

    .middle-padding {
        height: 180px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}